.ContactInfo ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.ContactInfo ul li {
    list-style: none;
}
.ContactInfo ul li  {
    text-decoration: none;
    color: rgb(8, 212, 8);
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.3s ease-in;
}
