@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.Register{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image:url("https://wallpaper.dog/large/20501285.jpg");
  background-size:cover;
  background-position:center
}
.container{
  max-width: 800px;
  width: 100%;
  height: auto;
  background-color: #ccc;
  padding: 25px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  opacity: 0.9;
}
.container .title{
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.register-content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  text-align: center;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: green;
}
 
 form .button{
   height: 45px;
   margin: 35px 0;
   display: flex;
   justify-content: center;
   align-items:center
 }
 form .button input{
   height: 100%;
   width: 200px;
   max-width: 100%;
   border-radius: 20px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #0cb30c, #106805);
 }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  .content form .user-details{
    max-height: 500px;
  }
  }
  @media(max-width: 459px){
  .container .register-content .category{
    flex-direction: column;
  }

}
